body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(236, 242, 247);
}

.container{
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    max-width: 600px;
    border-radius: 20px;
    padding: 20px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

form input[type="text"]{
    padding: 10px;
    border: none;
    outline: none;
    font-size: 18px;
    width: 60%;
}

form input[type="submit"]{
    background-color: rgb(181, 181, 237);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    transition: background-color .3s ease;
}
form input[type="submit"]:hover{
    background-color: blue;
}
.icon image{

}